EMPLOYEE_MANAGEMENT_DB_DRIVER_CLASS_NAME=org.postgresql.Driver
EMPLOYEE_MANAGEMENT_DB_URL=jdbc:postgresql://localhost:5432/employee_management
EMPLOYEE_MANAGEMENT_DB_USER_NAME=postgres
EMPLOYEE_MANAGEMENT_DB_PASSWORD=